body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
	border: none !important;
	background-image: url(https://i.pinimg.com/originals/ea/c0/be/eac0bedcde64ce38d7f574c9b975fce4.jpg);
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

/* Login, Singup Form */
.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	/* background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center; */
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}

/* Triangle button */

.btn-triangle {
	position: relative;
	width: 150px;
	color: #FFFFFF;
	background-color: #f4d046;
	text-align: center;
	line-height: 48px;
	margin-top: 15px;
	font-weight: bold;
	border: none;
}

.btn-triangle:active {
	background-color: #f4d046;
	transform: translateY(4px);
  }

.btn-triangle:hover {
    text-decoration: none;
}

.btn-triangle:focus {
    outline: none;
}


.btn-triangle:before {
    content:"";
    position: absolute;
    right: 100%;
    top:0px;
    width:0px;
    height:0px;
    border-top:25px solid transparent;
    border-right:30px solid #f4d046;
    border-bottom:25px solid transparent;
}

.btn-triangle:after {
    content:"";
    position: absolute;
    left: 100%;
    top:0px;
    width:0px;
    height:0px;
    border-top:25px solid transparent;
    border-left:30px solid #f4d046;
    border-bottom:25px solid transparent;
}

.btn-triangle:hover {
	background-color: #faf43d;
}
.btn-triangle:hover:before {
    content:"";
    position: absolute;
    right: 100%;
    top:0px;
    width:0px;
    height:0px;
    border-top:25px solid transparent;
    border-right:30px solid #faf43d;
    border-bottom:25px solid transparent;
}

.btn-triangle:hover:after {
    content:"";
    position: absolute;
    left: 100%;
    top:0px;
    width:0px;
    height:0px;
    border-top:25px solid transparent;
    border-left:30px solid #faf43d;
    border-bottom:25px solid transparent;
}

/* Nav */

.nav-right {
	margin-right: 130px;
}
.user-avatar {
	width: 45px;
	height: auto;
}


/* Game css */
ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  height: 24px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 24px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.btn-margin {
  margin-top: 10px
}

.winner {
  background-color: #dc143c;
  color: #ffffff;
}

/* Chat */
.chat-form {
	background-color: #faebd7;
    border: 2px solid #ff0000;
    margin-top: 20px;
    padding: 10px;
    min-height: 400px;
    max-height: 450px;

}

.chat-history {
	width: 100%;
	min-height: 275px;
	max-height: 300px;
	padding-top:20px;
	overflow: auto;
	overscroll-behavior: contain;
}

.chat-by-me {
	background-color: #00ffff;
	border-radius: 10px;
	position: relative;
}

.chat-by-me::before {
	content: "";
    position: absolute;
    bottom: -10px;
    left: 9px;
    border-top: 10px solid #00ffff;
    border-right: 20px solid transparent;
    border-left: 0px solid transparent;
}

.chat-content {
	padding: 5px 0 5px 10px;
	word-wrap: break-word;
}
.chat-by-player {
	background-color: #7fffd4;
	border-radius: 10px;
	position: relative;
}

.chat-by-player::before {
	content: "";
    position: absolute;
    top: -10px;
    right: 9px;
    border-top: 10px solid transparent;
    border-right: 20px solid #7fffd4;
    border-left: 0px solid transparent;
}
.clear-padding {
	padding: 0 !important;
}

/* Loading */

.loader {
	left: 50%;
	top: 50%;
	z-index: 10;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid blue;
	border-right: 16px solid green;
	border-bottom: 16px solid red;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.content-center {
	justify-content: center;
}

/* List game button */
.list-game-button {
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Player game info */
.player-game-info {
	background-color: #faebd7;
	border: 2px solid #f00;
	padding: 10px;
}
